/* #page-wrapper #footer .copyright { */
#page-wrapper footer {
  background-color: #fae2d1;
}

#page-wrapper #footer .copyright li {
  border: 0;
}

#banner .profile img {
  border-radius: 50%;
}

#banner h2 {
  color: #e8974a;
  /* color: #ffffff; */
  /* color: #646464; */
  font-weight: bold;
}

#banner p {
  color: #e8974a;
  font-weight: bold;
  /* color: #ffffff; */
  margin-left: 20%;
  margin-right: 20%;
}

/* #banner p {
} */

/* #banner .icon {
  font-size: 40px;
} */

.features-row h3, p {
  color: #646464;
}

/* #haeder .button {
  color: #e8974a;
} */

#banner .button {
  color: #e8974a;
}

.other-projects {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  /* color: #646464; */
  color: #e8974a;
}

.projects {
  /* color: #646464; */
  color: #e8974a;
  font-weight: bold;
}

#sticky-component {
  position: sticky;
  /* display: inline; */
  bottom: 0px;
  left: 0px;
  font-size: 60px;
  margin-left: 0.5%;
  /* margin-bottom: 5%; */
  color: #e8974a;
  /* background-color: #fae2d1; */
  /* overflow: visible; */
}

/* .projects-twine {
  color: #f7D3ba;
  font-weight: bold;
} */